<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    Please enter the key and value you want to store
  </body>
  <div>
    <form action="/set" method="post">
      <input type="text" name="key" placeholder="Key"></input>
      <input type="text" name="value" placeholder="Value"></input>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</html>
